@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes inflate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3) translateY(-10em);
    opacity: 0;
  }
}

@layer components {
  .animate-explode {
    animation: inflate 1s linear infinite;
  }
}